{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
    <h1>Käyttäjän {{user_logged_in.username}} muistilista</h1>
{% endif %}

<p>
    <a href="{{base_path}}/task/new" class="btn btn-success">Lisää tehtävä</a> 
</p>

<p>
    <form method="get" action="" class="form-inline">
        <div class="form group">
            <input type="hidden" name="showUndoneTasks" value=true>
        </div>

       <button type="submit" class="btn btn-default">Näytä ainoastaan keskeneräiset tehtävät</button>
    </form>
</p>

<!-- Tehtävät listataan taulukossa -->
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kategoriat</th>
            <th>Tärkeysaste</th>
            <th>Status</th>
            <th>Deadline</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.name}}</td>
            <td>
                {% for category in task.getCategories(task.id) %}
                    <li>{{category.name}}</li>
                {% endfor %}
            </td>
            <td>{{task.priority}}</td>
            <td>
                {% if task.done %}
                    <label class="label label-success">suoritettu</label>
                {% else %}
                    <label class="label label-danger">kesken</label>
                {% endif %}
            </td>
            <td>{{task.deadline}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/task/{{task.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}